.main-div{
    border-radius: 1rem;
    color: black;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.btn-name{
    border-radius: 1rem;
    border-color: black;
    background-color: violet;
    width: 100px;
    height: 50px;
    font-size: large;;
}
.g-div{
    border-color: black;
    border-width: 3rem;
    color: black;
    background-color: red;
    font-size: large;
    width: 80px;
    height: 50px;
}

.p-div{
    border-color: black;
    border-width: 3rem;
    background-color: rgb(67, 7, 231);
    font-size: large;
    width: 80px;
    height: 50px;
    color: black;
}
.c-div{
    border-color: black;
    border-width: 3rem;
    color: black;
    width: 80px;
    height: 50px;
    font-size: large;
    background-color: brown;
    align-items: center;
    justify-content: center;
}
